* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card{
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.carte {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    gap: 40px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    box-sizing: border-box;
    padding: 30px 30px 30px 30px;
}

/****** Hebergements ***********/


.hebergements {
    display: flex;
    flex-direction: column;
    width: 65%;
}

.hebergements-cartes .carte-title {
    margin-top: 4px;
    margin-bottom: 8px;
}

.hebergements-cartes .carte-subtitle {
    margin: 0;
}

.hebergements-cartes .carte-star {
    margin-top: 8px;  
}

.carte-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
}

.carte-subtitle {
    font-size: 14px;
    font-weight: 400;
}

.hebergements-title h2 {
    font-size: 22px;
    font-weight: 700;
    margin: 0px;
    margin-bottom: 30px;
}

.hebergements-undertitle p {
    font-size: 18px;
    font-weight: 700;
    padding: 0px;
    margin: 0px;
}

.carte img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.hebergements-cartes {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;
    align-items: stretch;
}

.carte-content {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 8px;
}

.carte {
    width: 250.3px;
    height: auto;
    background-color: white;
    border: 5px solid white;
    border-radius: 20px;
}

.carte:hover {
    cursor: pointer;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
   
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 139px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/****** Activitéss ***********/

.activites-title h2{
    font-size: 22px;
    font-weight: 700;
    margin: 0px;
    margin-bottom: 30px;
}

.activites {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    padding: 30px;
    margin-bottom: 30px;
}

.activites-cartas {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
}


.carta {
    display: flex;
    height: 439px;
    flex-direction: column;
    flex: 1 0 0;
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
    width: 100%;
}

.carta img {
    height: 380px;
    flex-shrink: 0;
    align-items: stretch;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    object-fit: cover;
}

.carta-content {
    margin-left: 20px;
    margin-right: 20px;
}

.carta-title {
    font-size: 16px;
    font-weight: 700;
}

.filtres-bar {
    display: flex;
    flex-direction: row;
    margin-top: 35px;
    font-size: 17px;
    font-weight: 700;
    gap: 15px
}

.filtre-bar-categories {
    display: flex;
    flex-direction: row;
    gap: 15px
}

.filtre-bar-categories .filtre {
    display: flex;
    align-items: center;
    height: 50px;
    border: 2px solid #D9D9D9;
    border-radius: 50px;
    gap: 10px;
    padding: 1px 19px;
    background-color: white;
    transition: background-color 0.3s
}

.filtre span {
    font-size: 17px;
    font-weight: 700;
}

.filtre i {
    font-size: 22px;
}

.filtre-bar-categories button:hover {
    background-color:#DEEBFF ;
    cursor: pointer;
}

.navbar {
    width: 100%;
    height: 79px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
   

.logo {
    padding-top: 30px;
}

.nav-links {
    width: auto;
    display: flex;
    flex-direction: row;
    gap: 68px;
    height: 35px;
    align-items: center;
    padding-left: 50px;
}


.link a:hover {
    color: #0065FC;
    border-top: 2px solid;
    padding-top: 14px;
}

.titre h1 {
    font-size: 22px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.titre p {
    margin-top: 8px;
    margin-bottom: 0;
}

.titre {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    margin-top: 30px;
}


.barre-recherche {
    display: flex;
    flex-direction: row;
    margin-top: 35px;
}

.search-icon-loop{
    visibility: hidden;
}

.location-icone {
    width: 50px;
    height: 51px;
    background-color:#F2F2F2;
    border-radius: 15px 0px 0px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.location-icone i {
    font-size: 19px;
    color: black;
}

.search-button {
    height: 51px;
    padding: 15px 16px;
    align-items: center;
    gap: 10px;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid var(--Blue, #0065FC);
    background: var(--Blue, #0065FC);
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.search-button:hover {
    cursor: pointer;
}

input {
    font-size: 18px;
    font-weight: 700; 
    height: 51px;
    width: 195px;
 }
 
 .recherche input {
     border: 2px solid #F2F2F2;
 }
 
 input::placeholder{
     color: black;
     text-align: center;
 }

.info {
    width: 100%;
    height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 35px;
    margin-bottom: 35px;
}

.info p {
    font-size: 16px;
    font-weight: 400;
}

.info i {
    font-size: 10px;
}

.rond {
    width: 20px;
    height: 20px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


footer {
    background-color: var(--main-bg-color);
    padding: 20px;
    margin-bottom: -10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.part-footer {
    width: 33%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 15px;
}

footer h2 {
    font-size: 18px;
    font-weight: 700;
    margin: 0px;
}

footer p {
    font-size: 16px;
    font-weight: 400;
    margin: 0px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .filtres-bar {
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-top: 20px;
    }
    
    .filtre-text {
        padding: 0px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
        gap: 50px;
    }

    .hebergements {
        width: 100%;
        margin-bottom: 0px;
    }

    .carte {
        width: 100%;
        height: 207.25px;
    }

    .carte-title {
        font-size: 15px;
        font-weight: 700;
    }
    
    .carte-subtitle {
        font-size: 13px;
        font-weight: 400;
    }

    .populaires {
        width: 100%;
        margin-top: 0px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    }

    .populaires-cards a {
        width: 100%;
    }

    .card-title {
        font-size: 14px;
    }

    .card-subtitle {
        font-size: 13px;
    }

    .activites-cartas{
        width: 100%;
        height: auto;
    }

    .carta {
        width: 100%;
        height: 270px;
    }

    .carta img {
        width: 100%;
        height: 200px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    /* Partie règles générales*/

    .main-container { 
        padding: 0px;
    }


    /* Partie du Header/Navbar et text-intro*/

    .navbar {
        width: 100%;
        height: 115px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 30px;
    }

    .logo {
        padding-top: 23px;
        padding-bottom: 30px;
    }

    .nav-links {
        width: 102%;
        display: flex;
        gap: 0px;
        padding: 0px;
    }

    .link {
        margin-bottom: 0px;
        width: 50%;
        display: flex;
        justify-content: center;
        padding-bottom: 15px;
        border-bottom: 2px solid var(--main-bg-color);
    }

    .link a:hover {
        border-top: none;
    }
    
    .link:hover {
        border-bottom: 2px solid var(--main-color);
        color: #0065FC;
        cursor: pointer;
    }

    .titre {
        margin: 0px 12px 35px 12px;
    }

    /* Partie de la zone de recherche */

    .search-button {
        display: none;
    }

    .search-icon-loop {
        visibility: visible;
    }

    .search-icon-loop i {
        font-size: 17px;
        color: white;
    }

    .barre-recherche {
        margin-left: 12px;
        max-width: 335px;
    }

    .recherche {
        width: 100%;
        
    }

    input {
        font-size: 18px;
        font-weight: 700; 
        height: 51px;
        width: 105%;
    }

    .search-icon-loop {
        display: flex;
        height: 51px;
        padding: 15px 16px;
        align-items: center;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        border: 1px solid var(--Blue, #0065FC);
        background: var(--Blue, #0065FC);
    }
    
    /* Partie des Filtres + Info */

    .filtres-bar {
        margin: 0px 12px 0px 12px;
        padding-top: 10px;
    }


    .filtre-bar-categories {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;    
    }

    .filtre {
        width: 48%;
        height: auto;
        text-align: center;
    }

    .filtre span {
        font-size: 14px;
        height: auto;
        white-space: nowrap;
        overflow: scroll;
    }

    .info {
        width: 95%; 
        margin-left: 12px;
        padding: 0px;
    }
    
    /* Partie Hebergements et Populaires*/

    .hebergements-and-populaires section {
        border-radius: 0px;
        padding: 20px;
        width: 100%;
    }

    .hebergements-and-populaires {
        display: flex;
        flex-direction: column-reverse;
        margin-left: -8px;
        margin-right: -8px;
        gap: 15px;
        margin-bottom: 40px;
    }

    /* Partie Populaires*/

    .populaires {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 0px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;   
    }

    .populaires-cards a {
        width: 100%;
    }

    .populaires .card {
        margin: 0px;
    }


    /* Partie Hebergements*/
    
    .hebergements-and-populaires .hebergements{
        background-color: white;
    }

    .hebergements {
        display: flex;
        flex-direction: column;
    }

    .hebergements-cartes {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
        margin-bottom: 15px;
    }

    .hebergements-cartes .carte {
        width: 100%;
    }

    .hebergements-title h2 {
        margin-bottom: 15px;
    }

    .hebergements-undertitle {
        padding-top: 0px;
        padding-bottom: 0px;
    }
 
    /* Partie Activités*/

    .activites {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: -8px;
        margin-right: -8px;
        padding: 30px;
        gap: 30px;
    }

    .activites-cartas {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .carta{
        width: 100%; 
        height: 100%;
        border-radius: 20px;
        box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
    }

    .activites-title h2 {
        margin-bottom: 0px;
    }
  
    /* Partie Footer*/
    
    footer {
        background-color: var(--main-bg-color);
        padding: 30px;
        margin-right: -8px;
        margin-left: -8px;
    }
    
    .row {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    
    .part-footer {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 15px;
    }


    footer h2 {
        margin: 0px;
    }

    footer p {
        margin: 0px;
    }
}

